body{
    background-color: lemonchiffon;
}
h1{
    color: lime;
    background-color: rgb(20, 4, 112);
    padding: 15px;
    margin-left: 20px;
    width: 1000px;
    border-radius: 10px;
}
#show_sketch{
    float: right;
    margin-top: 5px;
}
p{
    padding-top: 10px;
    font-size: 25px;

}
canvas{
    border: 5px solid white;
    border-radius: 5px;
    animation-name: example ;
    animation-duration: 4s;
    margin-top: 100px;
    animation-iteration-count: infinite;
}
@keyframes example{
    from{ box-shadow: 2px 2px 40px blue;}
    to{ box-shadow: 2px 2px 40px green;}
}
